<?php

/**
 * User defined tab configuration of the "monobook" DokuWiki template
 *
 * Create a "/user/tabs.php" file if you want to add/remove some buttons.
 * The template recognizes and loads the provided tab data automatically.
 * You may want to rename this file from "tabs.php.dist" to "tabs.php"
 * to get a good starting point as it provides some examples. The comments of
 * the {@link _monobook_renderTabs()} (main.php) may be useful, too.
 *
 * Note: All example files are delivered with the ".dist" extensions to make
 *       sure your changes do not get overwritten when updating the template.
 *       Just remove the ".dist" extension to use them.
 *
 * Note: To change the non-tab related config, use the admin webinterface of
 *       DokuWiki.
 *
 *
 * LICENSE: This file is open source software (OSS) and may be copied under
 *          certain conditions. See COPYING file for details or try to contact
 *          the author(s) of this file in doubt.
 *
 * @license GPLv2 (http://www.gnu.org/licenses/gpl2.html)
 * @author ARSAVA <dokuwiki@dev.arsava.com>
 * @link https://www.dokuwiki.org/template:monobook
 * @link https://www.dokuwiki.org/devel:configuration
 */


//check if we are running within the DokuWiki environment
if (!defined("DOKU_INC")){
    die();
}


//note: The tabs will be rendered in the order they were defined. Means: first
//      tab will be rendered first, last tab will be rendered at last.


//text
$_monobook_tabs["tab-textexample"]["text"] = "Example";


//examples: uncomment to see what is happening

/*
//Recent Changes (thanks to Stefan Riemer for this)
//To get some space between this and the other tabs, you may add the following
//additional CSS to /monobook/user/screen.css:
//  li#tab-recent {
//    margin-left: 1.6em;
//  }
if (!empty($conf["recent_days"])){
    $_monobook_tabs["tab-recent"]["text"]     = $lang["btn_recent"]; //language comes from DokuWiki core
    $_monobook_tabs["tab-recent"]["href"]     = wl("", array("do" => "recent"), false, "&");
    $_monobook_tabs["tab-recent"]["nofollow"] = true;
}
*/


/*
//(un)subscribe namespace tab
if (!empty($conf["useacl"]) &&
    !empty($conf["subscribers"]) &&
    !empty($loginname)){ //$loginname was defined within main.php
    if (empty($INFO["subscribedns"])){ //$INFO comes from DokuWiki core
        $_monobook_tabs["ca-watchns"]["href"] = wl(cleanID(getId()), array("do" => "subscribens"), false, "&");
        $_monobook_tabs["ca-watchns"]["text"] = $lang["btn_subscribens"]; //language comes from DokuWiki core
    }else{
        $_monobook_tabs["ca-watchns"]["href"] = wl(cleanID(getId()), array("do" => "unsubscribens"), false, "&");
        $_monobook_tabs["ca-watchns"]["text"] = $lang["btn_unsubscribens"]; //language comes from DokuWiki core
    }
}
*/


/*
//link
$_monobook_tabs["tab-urlexample"]["text"]     = "Creator";
$_monobook_tabs["tab-urlexample"]["href"]     = "https://andreashaerter.com/";
$_monobook_tabs["tab-urlexample"]["nofollow"] = true;
*/


/*
//link with rel="nofollow", see http://www.wikipedia.org/wiki/Nofollow for info
$_monobook_tabs["tab-urlexample2"]["text"]     = "Search the web";
$_monobook_tabs["tab-urlexample2"]["href"]     = "https://www.google.com/search?q=dokuwiki";
$_monobook_tabs["tab-urlexample2"]["nofollow"] = true;
*/


/*
//internal wiki link
$_monobook_tabs["tab-wikilinkexample"]["text"]      = "Home";
$_monobook_tabs["tab-wikilinkexample"]["wiki"]      = ":start";
$_monobook_tabs["tab-wikilinkexample"]["accesskey"] = "H"; //accesskey is optional
*/

